.flex-box-container-1 {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-
}

.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
}